html {
    font-size: 0.625em;
}

body {
    font-family: Bitter, Georgia, serif;
    font-size: 100%;
    line-height: 1.4;
    color: #2a2a2a;
}

h1, 
h2, 
h3 {
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

h3,
.email,
.email span {
    transition: color 80ms linear;
}

a {
    text-decoration: none;
}

a:hover {
    color: #0D68AF;
}


/* Container */

.container {
    width: 100%;
    max-width: 540px;
    margin: 0 auto;
}


/* Header */

header {
    padding: 5em 0 6em;
    text-align: center;
}

    header h1 {
        font-size: 3.2em;
        font-weight: 900;
        margin: 0 0 .2em;
    }

    header p {
        font-size: 1.8em;
        color: #777;
        margin: 0;
    }


/* Section (general) */

section {
    margin: 0 0 5em;
}

    section h2 {
        font-size: 1.6em;
        line-height: .813em;
        height: .75em;
        font-weight: bold;
        color: #777;
        letter-spacing: .0625em;
        text-transform: uppercase;
        text-align: center;
        background: #eee;
        position: relative;
        margin: 0 0 2em;
    }

        section h2 span {
            background: #fff;
            border-width: 0 1.8em;
            border-style: solid;
            border-color: white;
            position: relative;
            z-index: 1;
        }

    section h3 a,
    section a h3 {
        color: #0D68AF;
    }

        section h3 a:hover,
        section a:hover h3 {
            text-decoration: underline;
        }


/* Recent */

.recent {}

    .recent .thing {
        margin: 0 0 2.6em;
    }

    .recent h3 {
        font-size: 2.4em;
        margin: 0 0 .15em;
    }

    .recent p {
        font-size: 1.8em;
        color: #777;
        margin: 0;
    }

    .recent button,
    .recent .button {
        font-size: 1.5em;
        font-weight: bold;
        color: #0D68AF;
        letter-spacing: .066em;
        text-transform: uppercase;
        background: transparent;
        margin-top: 1em;
        border: 2px solid #cddce7;
        border-radius: 4px;
        padding: .2em .6em;
        float: right;
        outline: none;
        transition: border-color 80ms linear;
    }

        .recent .button:hover {
            border-color: #0D68AF;
        }


/* Past */

.past {}

    .past .thing {
        margin: 0 0 1.5em;
    }

    .past .content {
        margin-left: 20%;
        padding-left: 1.5em;
        display: block;
    }

    .past h3 {
        font-size: 1.8em;
        font-weight: bold;
        margin: 0 0 .05em;
    }

    .past p {
        font-size: 1.5em;
        color: #777;
        margin: 0;
    }

    .past time {
        font-size: 1.4em;
        line-height: 1.36em;
        color: #999;
        letter-spacing: .07em;
        text-transform: uppercase;
        float: left;
        padding-top: 0.215em;
        width: 20%;
        text-align: right;
    }


/* Footer */

footer {
    font-size: 1.5em;
    text-align: center;
    padding: 0 0 3.3em;
}

    footer hr {
        width: 22%;
        border: none;
        border-top: 1px solid #d1d1d1;
    }

    footer .email {
        color: #777;
        display: inline-block;
        margin: 1.4em 0 .85em;
    }

        footer .email span {
            color: #aaa;
        }

    footer .email:hover,
    footer .email:hover span {
        color: #0D68AF;
    }

    .social {
        color: #ddd;
    }

        .social a {
            margin: 0 .3em;
            color: #888;
            border-bottom: 2px solid #eee;
            transition: all 80ms linear;
        }

            .social a:hover {
                color: #333;
                border-color: #0D68AF;
            }


/* Responsive-ness */

@media (max-width: 540px) {

    body {
        font-size: 90%;
    }

    header {
        padding: 3em 0 4em;
    }

    section {
        margin-bottom: 4em;
    }

    header,
    .recent .thing {
        font-size: 90%;
    }

    .recent .thing,
    .past .thing {
        width: 90%;
        margin: 0 auto 2em;
    }

    .past time {
        width: 16%;
    }

    .past .content {
        margin-left: 16%;
    }

    #try-wfp {
        display: none;
    }

}