---
layout: page
title: Projects
navigation: true
order: 1
theme: projects
redirect_from: /projects/
---

<div class="wrapper">

  <div class="row">
    <div class="col s12 l8">
      <div class="content">
        <p>Hello! I'm currently building <a href="https://pingotel.com" target="_blank"><strong>Pingotel</strong></a>, a simple self-service booking engine.</p>
        <p>
          In the past, I was an early employee at <a href="https://kolo.app" target="_blank"><strong>Kolo</strong></a>&nbsp;(2024), <a href="https://ourworldindata.org" target="_blank"><strong>Our World in
              Data</strong></a>&nbsp;(2018&ndash;2022)
          and <a href="https://flourish.studio" target="_blank"><strong>Flourish</strong></a>&nbsp;(2017&ndash;2018).
        </p>
        <p>
          Below are some of my older personal projects (I haven't updated this site in a while).
          Feel free to <a href="mailto:daniel@gavrilov.co.uk">get in touch</a>.
        </p>
      </div>
    </div>
  </div>

</div>

{% assign projects = site.pages | where: "project", true | sort: "date" | reverse %}

<div class="wrapper">
  <div class="responsive-boxes">
    {% for project in projects %}
    {% include project-overview.html project=project %}
    {% endfor %}
    <!-- flexbox alignment fixes -->
    {% for i in (0..2) %}
    <div class="box-empty"></div>
    {% endfor %}
  </div>
</div>
