---
layout: page
title: Projects
navigation: true
order: 1
theme: projects
redirect_from: /projects/
---

<div class="wrapper">

  <div class="row">
    <div class="col s12 l8">
      <div class="content">
        <p>
          Hello! I'm a recent Computer Science graduate, currently working on <a href="http://flourish.studio"><strong>Flourish</strong></a>. Below are some of my projects, most of them related to data visualisation.
        </p>
        <p>
          Feel free to <a href="mailto:daniel@gavrilov.co.uk">get in touch</a>.
        </p>
      </div>
    </div>
  </div>

</div>

{% assign projects = site.pages | where: "project", true | sort: "date" | reverse %}

<div class="wrapper">
  <div class="responsive-boxes">
    {% for project in projects %}
      {% include project-overview.html project=project %}
    {% endfor %}
    <!-- flexbox alignment fixes -->
    {% for i in (0..2) %}
      <div class="box-empty"></div>
    {% endfor %}
  </div>
</div>
