$primary: #292e52;
$secondary: #171C44;
$text: white;

.techsoc {
  background-color: $secondary;
  color: $text;

  .site-header, .masthead {
    background-color: $primary;
    color: $text;
  }

  .masthead {
    background: linear-gradient(to bottom, $primary 0%, $secondary 100%);
    border-bottom: 1px solid rgba(255,255,255,.1);

    .button {
      color: $primary;

      &:hover {
        color: darken($primary, 10);
      }
    }
  }

  .content {
    color: rgba(255,255,255,.7);

    p a, ul li a {
      border-color: rgba(255,255,255,.2);

      &:hover {
        color: white;
        border-color: white;
      }
    }
  }

}

.techsoc-overview {
  background-color: #11153a;
  color: white;
}
