
.icon-heart:before { content: '\e800'; } /* '' */
.icon-location:before { content: '\e802'; } /* '' */
.icon-clock:before { content: '\e805'; } /* '' */
.icon-facebook:before { content: '\e808'; } /* '' */
.icon-github:before { content: '\e809'; } /* '' */
.icon-twitter:before { content: '\e80d'; } /* '' */
.icon-email:before { content: '\e80f'; } /* '' */