<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
      {% if page.title and page.title != "Projects" %}
        {{ page.title }} -
      {% endif %}
      {{ site.title }}
    </title>

    {% if page.author %}<meta name="author" content="{{ page.author }}">{% endif %}
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">

    <!-- favicon -->
    <link rel="shortcut icon" href="{{ site.baseurl }}/assets/images/favicon.png">

    <!-- Android tab bar colour -->
    <meta name="theme-color" content="#000000">

    <!-- stylesheets -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/scss/main.css">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

    <!-- Social: Twitter -->
    <meta name="twitter:card" content="summary_large_image">

    <!-- Social: Facebook / Open Graph -->
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:type" content="{% if page.is_post %}article{% else %}website{% endif %}">
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    {% if page.image %}<meta property="og:image" content="{{ page.image | prepend: site.baseurl | prepend: site.url }}">{% endif %}
    <meta property="article:publisher" content="https://www.facebook.com/{{ site.facebook_username }}">

  </head>

  <body class="{% if page.theme %}{{ page.theme }}{% endif %} {% if page.project %}project{% endif %}">
    <a href="https://danielgavrilov.com" style="display: block; text-decoration: none; padding: 16px; background-color: #555; color: #eee; text-align: center; font-size: 20px;">
      This is my old website. You can find my new website at <u>danielgavrilov.com</u>.
    </a>
    <div class="site-container">
      {{ content }}
    </div>
  </body>
</html>
